
*{
    padding: 0px;
    margin: 0px;
    box-sizing:  border-box;
}
html {
    font-size: 10px;
}
/* całe zdjęcie
.hero{ 
    
    width: 100vw;
    height: 50vh;
    background: center / 100% 100%  url('bubble-test.jpg') no-repeat ;
    display:flex;
    justify-items: space-around;
}
*/

.hero{
    width: 100vw;
    height: 40vh;
    background: center /100% 100%url('img/bubble-test.jpg') no-repeat ;
    background-size: cover;
    text-align: center;
    padding-top: 30vh;
    color:rgb(235, 121, 15);

}

}
.hero__h1{
    padding-top: 50px;
    font-size: 6rem;
}