:root {
    --primiaryColor: #333333;
    --secondaryColor:#FF9933;
    --thirdColor: #CCCCCC;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/*sekcja NAVBAR*/
.navbar__wrapper {
    position: fixed;
    width: 100%;
    -webkit-box-shadow: 0px 7px 30px -2px rgba(0,0,0,0.61); 
    box-shadow: 0px 7px 30px -2px rgba(0,0,0,0.61);
}
.navbar {
    background-color: #FF9933;
    display: flex;
    justify-content: center;
}
.navbar a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 40px;
}
.navbar a:hover {
    background-color: #fff;
    color: #ccc;
}
#toggle {
    display: none;
}
.togglearea {
    background-color: #333;
    border-bottom: 2px solid #fff;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}
.togglearea label {
    background-color: #fff;
    width: 50px;
    height: 45px;
    color: #000;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.togglearea label span {
    background-color: #000;
    width: 70%;
    height: 4px;
    margin: 2px 0;
}
.togglearea {
    display: none; 
}
@media screen and (max-width:873px){
    .navbar {
        display: none;
    }
    #toggle:checked + .navbar {
        display: flex;
        flex-direction: column; 
    }  
    .togglearea {
        display: flex; 
    }
}

/*sekcja HERO*/
.hero {
    width: 100%;
    height: 70vh;
    background: url('img/hero.jpg') no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero__H1 {
    text-transform: uppercase; 
    margin-bottom: 3rem;
    width: 70%;
    height: auto;
    padding-left: 30%;
    font-size: 2rem;
    font-weight: 900;
}
.hero__H2 {
    text-transform: uppercase;
    color: var(--primiaryColor);
    width: 70%;
    height: auto;
    padding-left: 30%;
    font-size: 1.5rem;
    font-weight: 600;
}
/* sekcja zdjecia*/
.content {
    width: 70vw;
    display: flex;
    justify-content: space-around;
    margin:5rem 15vw;
}
.wrapper {
    width: 25vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper__circle {
    width: 10rem;
    height: 10rem;
    border: 1px solid var(--thirdColor);
    border-radius: 50%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper__image {
    background: url('img/face2.jpg') no-repeat;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
}
.wrapper__paragraph {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .1rem;
    margin-bottom: .8rem;
}
.wrapper__line {
    width: 6.8rem;
    height: 0.0625rem;
    background-color: var(--thirdColor);
    margin: 0 auto;
    margin-bottom: 1rem;
}
.wrapper__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.wrapper__icon a {
    text-decoration: none;
}
.fa  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
    color: #fff;
    border-radius: 50%;
    background-color: var(--primiaryColor);
    transition: background-color .3s ease-in-out;
    margin-right: .5rem;
}
.fa-instagram {
    margin-right: 0;
}
.fa:hover {
    background-color: rgb(189, 38, 38);
}