:root {
    --primiaryColor: #333333;
    --secondaryColor:#3953ff;
    --thirdColor: #CCCCCC;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.kontener{
    overflow: hidden;
}

.mySlides {
    display: none;
    width: 100%;
}

.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:20px;width:20px;padding:0}

/*sekcja NAVBAR*/
.navbar__wrapper {
    position: fixed;
    width: 100%;
    -webkit-box-shadow: 0px 7px 30px -2px rgba(0,0,0,0.61);
    box-shadow: 0px 7px 30px -2px rgba(0,0,0,0.61);
    z-index: 999;
}
.navbar {
    background-color: #3953ff;
    display: flex;
    justify-content: center;
}
.navbar a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 40px;
}
.navbar a:hover {
    background-color: #fff;
    color: #ccc;
}
#toggle {
    display: none;
}
.togglearea {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}
.togglearea label {
    background-color: #fff;
    width: 50px;
    height: 45px;
    color: #000;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.togglearea label span {
    background-color: #000;
    width: 70%;
    height: 4px;
    margin: 2px 0;
}
.togglearea {
    display: none;
}

/*sekcja HERO*/

.w3-hover-text-khaki{
    width: 20px;
    height: 20px;
}
.hero {
    width: 100%;
    height: 70vh;
    background: url('img/hero.jpg') no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero__H1 {
    text-transform: uppercase;
    margin-bottom: 3rem;
    width: 70%;
    height: auto;
    padding-left: 30%;
    font-size: 2rem;
    font-weight: 900;
}
.hero__H2 {
    text-transform: uppercase;
    color: var(--primiaryColor);
    width: 70%;
    height: auto;
    padding-left: 30%;
    font-size: 1.5rem;
    font-weight: 600;
}
/* sekcja zdjecia*/
.team__image__flex__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}
.two__image__flex__container{
    justify-content: space-around;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

.wrapper {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px 30px 0 30px;
}
.wrapper__circle {
    width: 10rem;
    height: 10rem;
    border: 1px solid var(--thirdColor);
    border-radius: 50%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper__image {
    background: url('img/face2.jpg') no-repeat;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
}
.wrapper__paragraph {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .1rem;
    margin-bottom: .8rem;
}
.wrapper__line {
    width: 6.8rem;
    height: 0.0625rem;
    background-color: var(--thirdColor);
    margin: 0 auto;
    margin-bottom: 1rem;
}
.wrapper__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.wrapper__icon a {
    text-decoration: none;
}
.fa  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
    color: #fff;
    border-radius: 50%;
    background-color: var(--primiaryColor);
    transition: background-color .3s ease-in-out;
    margin-right: .5rem;
}
.fa-instagram {
    margin-right: 0;
}
.fa:hover {
    background-color: #3953ff;
}

.big_icons_flex_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.big_icon_item{
    height: 200px;
    margin: 50px 10px 50px 10px;
}

.big_icon_item img{
    max-width:100%;
    max-height: 100%;
    min-width: 245px;
    min-height: 240px;
    height: auto;
    padding: 30px;
    opacity: 1;
}

.big_icon_item p {
    font-size: 20px;
    margin: 0 0 30px 0;
    text-align: center;
}

.footer__top {
    width: 100%;
    padding: 5px;
    background-color: rgb(211, 90, 90);
    color: #fff;
    text-transform: uppercase;
    font-size: .8rem;
    text-align: center;
    margin-top: 100px;
}
.footer {
    width: 100%;
    height: 390px;
    background-color: rgba(41, 39, 39, 0.966);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.footer__line {
    width:1px;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.205);
}
.footer__address {
    width: 400px;
    height: 280px;
    background-color: rgb(75, 149, 209);
}
.footer__contact {
    width: 400px;
    height: 280px;
    display: flex;
    justify-content: center;
}
.footer__contactTel {
    margin-top: 30px;
    position: relative;
}

.footer__contactMail{
    margin-top: 30px;
}
.footer__contactText {
    position: relative;
}
span {
    display: block;
    color: #fff;
    line-height: 2;
}
.footer__contactName {
    text-transform: uppercase;
    color: rgb(209, 88, 88);
}
.footer__contactName::before {
    content: '';
    display: block;
    position: absolute;
    top: 9px;
    bottom: 0;
    left: -130px;
    right: 0;
}
.footer__contactTel::before {
    content: url('images/003-phone.png');
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -40px;
    right: 0;
}
.footer__contactMail::before {
    content: url('images/arroba.png');
    display: block;
    position: absolute;
    top: 220px;
    bottom: 0;
    left: -40px;
    right: 0;
}
/* formularz*/
.footer__form {
    width: 400px;
    height: 280px;
}
.footer__form h4 {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    letter-spacing: 3px;
}
.login {
    text-align: center;
    width: 350px;
    box-sizing: border-box;
    padding: 40px;
    margin: 0 auto;
}
.login .input__group {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}
.login .input__group input {
    height: 40px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 18px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.377);
    border-radius: 7px;
    background-color: rgb(209, 88, 88);
}
.login .input__group .input__groupText {
    height: 80px;
}
.login .input__group span {
    position: absolute;
    top: 5px;
    left: 20px;
    padding: 0;
    transition: .5s;
    pointer-events: none;
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(255, 255, 255)
}
.login .input__group input:focus ~ span {
    top: -11px;
    left: 15px;
    font-size: 10px;
    padding: 2px;
}
.login .input__group input[type="submit"] {
    text-transform: uppercase;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 0;
    height: 30px;
    float: left;
    font-size: 12px;
    border-radius: 0;
    color: rgb(209, 88, 88);
    font-weight: bold;
    transition: background-color .3s linear;
    letter-spacing: 2px;
}
.login .input__group input[type="submit"]:hover {
    background-color: rgba(255, 255, 255, 0.822);
}



/*popup*/
.popup {
    width: 300px;
    max-height: 150px;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px 0px #000000;
    box-shadow: 0px 0px 15px 0px #000000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    display: none;
    animation-name: modal__animation;
    animation-duration: 1s;


}
@keyframes modal__animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.popup__header span {
    color: #000;
    float: right;

    font-weight: bold;
    cursor: pointer;
    font-size: 25px;
}
.popup__body {
    padding-top: 30px;
}
.popup__body p {
    text-align: center;
    color: rgb(146, 146, 146);

}
.footer__top {
    position: relative;
}
.triangle {
    width: 30px;
    height: 30px;
    background-color: rgb(209, 88, 88);
    -webkit-clip-path: polygon(50% 54%, 0 79%, 100% 79%);
    clip-path: polygon(50% 54%, 0 79%, 100% 79%);
    transform: rotate(180deg);
    position: absolute;
    left: 50%;
    top: 19px;
    bottom: 0;
    right: 0;
}

.google_map{
    width: 100%;
    height: 100%;
    border: none;
}

@media screen and (max-width:873px){
    .navbar {
        display: none;
    }
    #toggle:checked + .navbar {
        display: flex;
        flex-direction: column;
    }
    .togglearea {
        display: flex;
    }
}