* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
/* info section */
#info, #infooop {
    font-size: 1.5rem;
}
button {
    border: 1px solid rgba(153, 153, 153, 0.445);
    font-size: 1em;
    padding: 10px 20px;
    background: #fff;
    margin: 0 5px 5px 0;
    border-radius: 3px;
    color: rgba(153, 153, 153, 0.911);
    text-transform: uppercase;
    cursor: pointer;
    transition: background .5s ease-in-out;
}
button:hover {
    background: rgba(214, 214, 214, 0.212);
}
.scoreboard {
    font-size: 1.2rem;
    border: 1px solid rgba(153, 153, 153, 0.014);
    padding: 5px 50px;
    margin: 5px auto;
    color: rgba(153, 153, 153, 0.911);
}
/*start popuup css */



.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
}

#xmas-popup .popup-content{
    width: 600px;
    height: 600px;
    margin: 70px auto ;
    position: relative;
    border: 3px solid rgba(153, 153, 153, 0.445);
    font-size: 1em;
    border-radius: 5px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: rgba(153, 153, 153, 0.911);
    margin-left: auto;
    margin-right: auto;
    padding: 10px 15px;
}
.close{
    position: absolute;
    top:5px;
    right:5px;
    background: rgb(68, 24, 24);
    border-radius: 50%;
    border: 3px solid #fff;
    color: #fff;
    text-decoration: none;
    line-height: 0;
    width: 20px;
    padding: 9px 0 11px;
    text-align: center;
}
a{
    text-decoration: none;
    color: rgba(153, 153, 153, 0.911);
}
.popup:target{
    display:block;
}
/*end pupup css */


/*game cards section*/
.flex__container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex__wrapper__1 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.flex__wrapper__2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.content {
    margin: 10px 0 0 0;
    width: 550px;
    height: 550px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4,1fr);
}
.content div {
    border-radius: 6px;
    
    
}
.star1 {
    background: url('img/star__1.jpeg');
    background-size: cover;
    background-position: center;
    transition: all .5s ease-in-out;
}
.star2 {
    background: url('img/star__2.jpeg');
    background-size: cover;
    background-position: center;
    transition: all .5s ease-in-out;
}
.star3 {
    background: url('img/star__3.jpeg');
    background-size: cover;
    background-position: center;
    transition: all .5s ease-in-out;
}
.star4 {
    background: url('img/star__4.jpg');
    background-size: cover;
    background-position: center;
    transition: all .5s ease-in-out;
}
.star5 {
    background: url('img/star__5.jpeg');
    background-size: cover;
    background-position: center;
    transition: all .5s ease-in-out;
}
.star6 {
    background: url('img/star__6.jpeg');
    background-size: cover;
    background-position: center;
    transition: all .5s ease-in-out;
}
.star7 {
    background: url('img/star__7.jpeg');
    background-size: cover;
    background-position: center;
    transition: all .5s ease-in-out;
}
.star8 {
    background: url('img/star__8.jpeg');
    background-size: cover;
    background-position: center;
    transition: all .5s ease-in-out;
}
.star9 {
    background: url('img/star__9.jpeg');
    background-size: cover;
    background-position: center;
    transition: all .5s ease-in-out;
}

.star10 {
    background: url('img/star__10.png');
    background-size: cover;
    background-position: center;
    transition: all .5s ease-in-out;
}



.victory {
    background: url('img/back__2.png');
    background-size: cover;
    background-position: center;
    transition: all .5s ease-in-out;
}
.hidden {
    background: url('img/front__2.png');background-size: cover;
    background-position: center;
    transition: all .9s ease-in-out;
}
@media (min-width: 466px) and (max-width: 570px) {
    .content {
        width: 450px;
        height: 450px;
    }
}
@media (max-width: 465px) {
    .content {
        width: 310px;
        height: 310px;
    }
    #info {
        font-size: 1rem;
    }
    button {
        border: 1px solid rgba(153, 153, 153, 0.445);
        font-size: .8rem;
        padding: 5px 10px;
    }
    .scoreboard {
        font-size: 1rem;
        padding: 5px 30px;
    }
}



