* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
/* info section */
#info {
    font-size: 1.5rem;
}
button {
    border: 1px solid rgba(153, 153, 153, 0.445);
    font-size: 1em;
    padding: 10px 20px;
    background: #fff;
    margin: 0 5px 5px 0;
    border-radius: 3px;
    color: rgba(153, 153, 153, 0.911);
    text-transform: uppercase;
    cursor: pointer;
    transition: background .5s ease-in-out;
}
button:hover {
    background: rgba(214, 214, 214, 0.212);
}
.scoreboard {
    font-size: 1.2rem;
    border: 1px solid rgba(153, 153, 153, 0.014);
    padding: 5px 50px;
    margin: 5px auto;
    color: rgba(153, 153, 153, 0.911);
}
/*game cards section*/
.flex__container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex__wrapper__1 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content {
    margin: 10px 0 0 0;
    width: 550px;
    height: 550px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4,1fr);
}
.content div {
    border-radius: 6px;
}
.star1 {
    background: url('img/star__1.jpeg');
    background-size: cover;
    background-position: center;
    transition: all .5s ease-in-out;
}
.star2 {
    background: url('img/star__2.jpeg');
    background-size: cover;
    background-position: center;
    transition: all .5s ease-in-out;
}
.star3 {
    background: url('img/star__3.jpeg');
    background-size: cover;
    background-position: center;
    transition: all .5s ease-in-out;
}
.star4 {
    background: url('img/star__4.jpg');
    background-size: cover;
    background-position: center;
    transition: all .5s ease-in-out;
}
.star5 {
    background: url('img/star__5.jpeg');
    background-size: cover;
    background-position: center;
    transition: all .5s ease-in-out;
}
.star6 {
    background: url('img/star__6.jpeg');
    background-size: cover;
    background-position: center;
    transition: all .5s ease-in-out;
}
.star7 {
    background: url('img/star__7.jpeg');
    background-size: cover;
    background-position: center;
    transition: all .5s ease-in-out;
}
.star8 {
    background: url('img/star__8.jpeg');
    background-size: cover;
    background-position: center;
    transition: all .5s ease-in-out;
}
.victory {
    background: url('img/back__2.png');
    background-size: cover;
    background-position: center;
    transition: all .5s ease-in-out;
}
.hidden {
    background: url('img/front__2.png');background-size: cover;
    background-position: center;
    transition: all .9s ease-in-out;
}
@media (min-width: 466px) and (max-width: 570px) {
    .content {
        width: 450px;
        height: 450px;
    }
}
@media (max-width: 465px) {
    .content {
        width: 310px;
        height: 310px;
    }
    #info {
        font-size: 1rem;
    }
    button {
        border: 1px solid rgba(153, 153, 153, 0.445);
        font-size: .8rem;
        padding: 5px 10px;
    }
    .scoreboard {
        font-size: 1rem;
        padding: 5px 30px;
    }
}



